*,
::before,
::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --cell-size: 50px;
  --cell-gap: 7px;
}

/*
 Classes utilitaires
*/
.d-flex {
  display: flex;
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10vw; /*0 au top et bottom, 10% de la largeur de l'écran sur gauche et droite*/
}
#month,
#month-select {
  text-transform: capitalize;
}
#calendar-navigation {
  justify-content: space-around;
}

#calendar-navigation button {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  outline: none;
  border: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#calendar-navigation button:hover {
  color: #fff;
  background-color: #5c636a;
  border-color: #565e64;
}
#calendar-navigation select {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

#calendar {
  width: calc(7 * var(--cell-size) + 6 * var(--cell-gap));
}
#calendar-header {
  width: 100%;
}

/* Calendar Common */
.calendar-cell {
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  justify-content: center;
  align-items: center;
}
#week > div {
  font-weight: bold;
}
#week,
#days {
  gap: var(--cell-gap);
  flex-wrap: wrap;
}

/* Month */
#month {
  color: #233755;
  font-size: 1.5rem;
  font-weight: bold;
  background: linear-gradient(
    170deg,
    hsl(47, 49%, 61%) 0%,
    hsl(47, 49%, 61%) 9%,
    rgba(0, 0, 0, 0) 50%
  );
  padding: 0.2em 1em;
  margin: 1em 0;
}

/* Days */
.jour {
  border-radius: 50%;
}
.jour:hover:not(.selected) {
  background-color: rgb(216, 216, 216);
  cursor: pointer;
}
.selected {
  background-color: black;
  color: white;
}
.today {
  font-size: 1.2rem;
  font-weight: bold;
  color: red;
}
.prev-month {
  color: gray;
}

.eventfull {
  color: rgb(165, 0, 0);
}
