<footer class="d-flex justify-content-between text-secondary px-4 py-4">
  <span class=""
    >© 2030
    <a
      class="link-offset-2 link-underline link-underline-opacity-0 text-secondary"
      href="/"
      >Cineflix</a
    >. All Rights Reserved.</span
  >
  <ul class="list-unstyled d-flex gap-3">
    <li>
      <a
        href="https://instagram.com"
        target="_blank"
        rel="noreferrer"
        class="link-offset-2 link-underline link-underline-opacity-0 text-secondary"
        >Instagram</a
      >
    </li>
    <li>
      <a
        href="https://linkedin.com"
        target="_blank"
        rel="noreferrer"
        class="link-offset-2 link-underline link-underline-opacity-0 text-secondary"
        >LinkedIn</a
      >
    </li>
    <li>
      <a
        href="https://twitter.com"
        target="_blank"
        rel="noreferrer"
        class="link-offset-2 link-underline link-underline-opacity-0 text-secondary"
        >Twitter</a
      >
    </li>
    <li>
      <a
        href="https://youtube.com"
        target="_blank"
        rel="noreferrer"
        class="link-offset-2 link-underline link-underline-opacity-0 text-secondary"
        >YouTube</a
      >
    </li>
  </ul>
</footer>
